#title {
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        color: #23272A;
        font-size: 25pt;
}

body {
        background-color: #ead7d6;
}

h3 {
        font-family: "Times New Roman", Times, serif;
        color: #23272A;
        font-size: 18pt;
}

p, ol {
  font-family: "Times New Roman", Times, serif;
        color: #23272A;
        font-size: 13pt;
}

img {
    max-width: 80%;
    max-height: 80%;
}
